:root {
    --color-body-plane: #2e2b51;
    --color-body-plane-2: #312f59;
    --color-body-plane-3: #333060;
    --color-body-plane-4: #aeadc0;

    --body: #1d1b35;
    --text: #ffffff;
    --text-invert: #000000;
    --text-link-underline: #5c569d;
    --shadow: rgba(0, 0, 0, .075);
    --shadow-hover: rgba(0, 0, 0, .15);

    --header: rgb(45, 41, 85, .84);
    --header-border: #211f41;

    --page-main-button-shadow: rgb(70, 76, 180, .9);
    --page-main-list-item-1: #4c6fa9;
    --page-main-list-item-2: #58974c;
    --page-main-list-item-3: #594d94;
    --page-main-darklight-icon: #575FCF;

    /*  */

    --notifications-list-border: #3b3576;
    --achivs-bg: #17152b;

    --button-top-background: #1f1d3a;
    --button-top-border: #38355f;

    --user-qrcode-button-bg: #a292ff;
    --user-qrcode-button-bg-hover: #8373df;

    /* User Alert */

    --user-alert-text-warning: #ca8726;
    --user-alert-success-bg: #1b8145;

    /* User Add Post */

    --addpost-moderate-bg: #1e1c3a;
    --addpost-import-bg: #655a9c;
    --addpost-import-bg-55: #655a9c55;
    --addpost-button-link-bg: #29274e;
    --addpost-dialog-bg: #21203f;

    --importpost-choose-bg: #38355c;

    --trix-button-accent: #366182;

    /* Settings */
    --settings-image-active: #0984e3;
}
