@media(max-width: 767.98px) {
    div.row .col-3 {
        width: 100%;
    }

    div.row .col-7 {
        width: 100%;
    }
}

div.row ul li {
    margin-bottom: .5rem;
    list-style-type: lower-greek;
}
