.addpost-container form div:has(button.btn-success[type="submit"]) {
    margin-top: 1rem;
    width: fit-content;
    border-radius: 12px;
    border: .1rem solid var(--bs-success);
    padding: .25rem;
}

.addpost-container form .d-flex div:has(button.btn-primary[type=submit]) {
    width: fit-content;
    border-radius: 12px;
    border: .1rem solid var(--bs-primary);
    padding: .25rem;
}

.addpost-container form .d-flex {
    align-items: center;
}

.addpost-container form .d-flex a {
    color: #fff !important;
    height: fit-content;
}

.addpost-container-addpost {
    display: flex;
    flex-direction: column;
}

@media(max-width: 767.98px) {
    .container-addpost .container-addpost-main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .addpost-container-addpost {
        display: flex;
        flex-direction: column-reverse;
    }

    .addpost-container-addpost form {
        margin-bottom: 2rem;
    }
}
