.row-first .col-md-4 div.p-3 {
    display: flex;
    flex-direction: column;

    background-color: var(--blog-dark-post);
    color: var(--blog-text-on-dark);

    border-radius: 24px;
    min-height: 500px;
}

.row-first .col-md-8 div.p-3 {
    display: flex;
    flex-direction: column;

    background-color: var(--blog-white-post);
    color: var(--text-color);

    border-radius: 24px;
    min-height: 500px;
}

.row-second .col-sm-4 .p-4 {
    background-color: var(--blog-white-post);
    color: var(--text-color);
    border-radius: 24px;
    min-height: 200px;
}

.row-first .col-md-4 div.p-3 button {
    border-radius: 8px;
}

.row-first {
    margin-bottom: 20px;
}

.row-second {
    margin-bottom: 60px;
}

.row-third .col.p-4 {
    text-align: center;
}
