.container-settings .modal .modal-dialog .modal-content {
    max-width: 350px;
}

.container-settings .modal .modal-dialog .modal-content .modal-header {
    margin-bottom: 3rem;
}

.container-settings .modal .modal-dialog .modal-content .modal-body button {
    max-width: 300px;
    border-radius: 6px;

    margin-left: auto;
    margin-right: auto;
}
