.alert {
    border-radius: 0 !important;
    background: var(--body-color) !important;
    border-color: var(--body-color);
    border-bottom-color: var(--user-alert-border) !important;
    color: var(--text-color);
    margin-bottom: .25rem;

    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    display: flex;
    align-items: center;
}

.alert span {
    display: flex;
    align-items: center;
}

.alert button {
    margin-left: auto;
    background-color: var(--body-color) !important;
    border-color: var(--body-color) !important;
    border: 0;
    box-sizing: border-box;
    position: relative !important;
    padding: 0 !important;
    top: 0 !important;
    right: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
    background: transparent !important;
}

.alert button svg {
    stroke: var(--svg-icon) !important;
}

.alert.alert-warning {
    color: var(--user-alert-text-warning) !important;
}
