main.row-user-content .container h2:first-of-type {
    margin-top: 2rem;
}

main.row-user-content .container h2 {
    margin-top: 1rem;
}

main.row-user-content header {
    margin-top: .75rem;
    /* margin-bottom: .75rem; */
    display: flex;
    align-items: center;
}

main.row-user-content header .header__logo {
    display: block;
    width: 100%;
    height: auto;
    max-width: 180px;
}

main.row-user-content header .header__logo svg {
    fill: var(--text) !important;
}

main.row-user-content header .header__meta {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;
}

main.row-user-content header .header__meta a.active svg {
    stroke: var(--text-link-hover) !important;
}

@media(min-width: 767.98px) {
    main.row-user-content header {
        display: none !important;
    }
}
