.user-notifications .accordion {
    margin-bottom: .5rem;
}

.user-notifications .accordion .accordion-item {
    background-color: var(--collapse-body-bg) !important;
    border-color: var(--header-border) !important;
}

.user-notifications .accordion .accordion-item .accordion-header button {
    background-color: var(--color-body-plane) !important;
    color: var(--text) !important;
}

.user-notifications .accordion .accordion-item .accordion-header button::after {
    filter: var(--collapse-filter) !important;
}

.user-notifications .accordion .accordion-item,
.user-notifications .accordion .accordion-item .accordion-header,
.user-notifications .accordion .accordion-item .accordion-header button {
    border-radius: 8px !important;
}

.user-notifications .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.user-notifications .accordion .accordion-item h2.accordion-header button {
    display: flex;
    align-items: center;
}

.user-notifications .accordion .accordion-item h2.accordion-header button svg {
    width: 20px;
    height: 20px;
}

.user-notifications ul li {
    background-color: transparent !important;
    color: var(--text) !important;
}

/* .list-group-item {
    border: 1px solid var(--notifications-list-border);
} */

/* media */

@media(min-width: 1023.98px) {
    .user-notifications {
        height: 80vh;
    }
}
