.profile-addpost {
    background-color: var(--user-profile-addpost-bg);
    border-radius: 12px;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .075) !important;
    transition: .3s;
}

.profile-addpost a {
    display: flex;
    text-decoration: none;
    padding: 1.5rem 2rem;
}

.profile-addpost a svg {
    margin-left: auto;
}

@media(hover: hover) {
    .profile-addpost a:hover {
        color: var(--text-color) !important;
    }

    .profile-addpost:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
}

@media(hover: none) {
    .profile-addpost a:active {
        color: var(--text-color) !important;
    }

    .profile-addpost:active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
}
