.row-user-bar {
    background: var(--user-bar);
}

.row-user-bar svg.logo {
    margin-bottom: 3rem;
    fill: var(--svg-icon);
}

.row-user-bar ul {
    list-style-type: none;
    padding-left: .25rem;
}

.row-user-bar ul li {
    margin-bottom: 2rem;
}

.row-user-bar ul li a {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.row-user-bar ul li a svg {
    margin-right: 1rem;
    margin-bottom: .25rem;

    min-width: 24px;
    min-height: 24px;
}

.row-user-bar .social {
    display: flex;
    margin-bottom: 2rem;
}

.row-user-bar .social .social-left,
.row-user-bar .social .social-right {
    display: flex;
}

.row-user-bar .social .social-left {
    margin-right: auto;
}

.row-user-bar .social .social-left div {
    margin-right: .75rem;
}

.row-user-bar .social .social-right div {
    margin-left: .75rem;
}

.row-user-bar .social .social-left div a.social-left-exit svg {
    stroke: var(--user-bar-exit);
}

@media(max-width: 767.98px) {
    .row-user-bar {
        display: none;
    }
}
