.row-user {
    justify-content: center !important;
}

.row-user-bar {
    padding: 0;
    background-color: var(--body) !important;
}

.row-user-bar-container {
    position: sticky;
    top: 0;
    padding: 3rem 2rem;
}

.row-user-bar svg.logo {
    margin-bottom: 3rem;
    fill: var(--text);
}

.row-user-bar ul {
    list-style-type: none;
    padding-left: 0;
}

.row-user-bar ul li {
    margin-bottom: 1rem;
    border-radius: 12px;
    padding: 1rem;
}

.row-user-bar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: .15s;
}

/* .row-user-bar ul li a:active {
    background-color: var(--page-main-accent) !important;
    transform: scale(0.93) translateX(-5px) !important;
} */

.row-user-bar ul li a svg {
    margin-right: 1rem;
    min-width: 24px;
    min-height: 24px;
}

.row-user-bar ul li:has(a.active) {
    background-color: var(--page-main-accent) !important;
}

.row-user-bar ul li a.active {
    color: white !important;
}

.row-user-bar ul li a.active svg {
    stroke: white;
}

.row-user-bar .social {
    display: flex;
    margin-bottom: 2rem;
}

.row-user-bar .social .social-left,
.row-user-bar .social .social-right {
    display: flex;
}

.social-right .red-dot {
    position: absolute;
    transform: translate(23px, -29px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--body);
}

.social-right .red-dot-content {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--user-bar-exit);
}

.row-user-bar .social .social-left {
    margin-right: auto;
}

.row-user-bar .social .social-left div {
    margin-right: 1rem;
}

.row-user-bar .social .social-right div a {
    padding: .75rem;
    border-radius: 8px;
}

.row-user-bar .social .social-left div a.social-left-exit svg {
    stroke: var(--user-bar-exit);
}

.row-user-bar .social .social-right div a.active {
    background-color: var(--page-main-accent) !important;
}

.row-user-bar .social .social-right div a.active svg {
    stroke: white;
}

.row-user-content {
    max-width: 880px !important;
    padding: 0 !important;
    background-color: var(--body) !important;
}

h1.title-has-back {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* media */

/* @media(hover: hover) {
    .row-user-bar ul li a:hover {
        transform: scale(0.98) translateX(-1px);
    }
}

@media(hover: none) {
    .row-user-bar ul li a:active {
        transform: scale(0.98) translateX(-1px);
    }
} */

@media(min-width: 768px) {
    .row-user-content h1:not(.title-has-back) {
        margin-top: 1.5rem;
    }

    div.div-has-back:has(h1.title-has-back) {
        margin-top: 1.5rem !important;
    }

    .row-user-content.row-user-content-feed {
        max-width: 600px !important;
    }
}

@media(max-width: 767.98px) {
    .row-user-bar {
        display: none;
    }

    .row-user-content {
        margin-bottom: 4rem;
    }
}

@media(max-width: 1023.98px) {
    .row-user-bar {
        width: 280px;
    }

    .row-user-content {
        width: calc(100% - 280px);
    }
}

@media(min-width: 1024px) {
    .row-user-bar {
        width: 350px;
    }

    .row-user-content {
        width: calc(100% - 350px);
    }
}
