.user-search {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-search .user-search-input input[type="search"] {
    background-color: var(--body-color);
    color: var(--text-color) !important;
    border: .1rem solid var(--form-input-border) !important;

    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
}

.user-search .user-search-select select {
    background-color: var(--body-color);
    color: var(--text-color) !important;
    border: .1rem solid var(--form-input-border) !important;

    border-radius: 8px;
    padding: 1rem 1.5rem;

    background-image: var(--form-select-cursor) !important;
}

.user-search-users
{
    margin-top: 1rem;
}

.user-search-users div.col {
    display: flex;
}

.user-search-users a.user-search-users-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    border: .1rem solid var(--user-search-border);
    border-radius: 8px;

    min-width: 192px;

    background-color: var(--user-serach-background);
    text-decoration: none !important;
    transition: .15s;
}

.user-search-users a.user-search-users-content:is(:focus, :focus-visible, :focus-within) {
    color: var(--text-color) !important;
    background-color: var(--user-serach-background-hover);
}

.user-search-users .user-search-users-content img {
    width: 80px;
    margin-bottom: .5rem;
    border-radius: 100px;
}

.user-search-users .user-search-users-content button svg {
    stroke: var(--text-color);
}

.user-search-users .user-search-users-content button:not(:focus, :focus-visible, :focus-within, :hover, :active) {
    color: var(--text-muted) !important;
}

.user-search-users .user-search-users-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    border: .1rem solid transparent;
    color: var(--text-color);
    transition: .15s;
}

.user-search-users .user-search-users-content button:is(:focus, :focus-visible, :focus-within) {
    border: .1rem solid var(--user-search-button-background);
    color: var(--text-color) !important;
    background-color: transparent;
}

@media(hover: hover) {
    .user-search-users a.user-search-users-content:hover {
        color: var(--text-color) !important;
        background-color: var(--user-serach-background-hover);
    }

    .user-search-users .user-search-users-content button:hover {
        border: .1rem solid var(--user-search-button-background);
        background-color: transparent;
    }
}

@media(hover: none) {
    .user-search-users a.user-search-users-content:active {
        color: var(--text-color) !important;
        background-color: var(--user-serach-background-hover);
    }

    .user-search-users .user-search-users-content button:active {
        border: .1rem solid var(--user-search-button-background);
        background-color: transparent;
    }
}

@media(max-width: 767.98px) {
    .user-search-users div.col {
        display: flex !important;
        justify-content: center;
    }

    .user-search-users {
        width: 100% !important;
        flex-wrap: wrap;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
