.profile-info {
    display: flex;
    overflow: scroll;
    margin-bottom: 1rem;
    padding: .2rem;
    gap: .7rem;
}

.profile-info::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.profile-info__item {
    /* border: .1rem solid var(--color-body-plane-3); */
    /* padding: .25rem; */
    box-shadow: 0 0 .25rem var(--shadow) !important;
    border-radius: 16px;
    min-width: 330px;
    max-width: 330px;
    /* margin-right: .5rem; */
    /* margin-left: .5rem; */
    /* margin-bottom: 1rem; */
}

.profile-info__container {
    display: flex;
    flex-direction: column;
    background: var(--color-body-plane);
    padding: 1.2rem 1rem;
    border-radius: 12px;
    height: 100%;
}

.profile-info__container svg {
    margin-bottom: 1rem;
}

.profile-info__container span {
    margin-bottom: .5rem;
}

.profile-info__container a {
    margin-top: auto;
    margin-bottom: 0;
}
