.authentication svg.authentication-logo {
    fill: var(--svg-icon);
}

.authentication .authentication-back {
    display: flex;
    justify-content: end;
}

.authentication .authentication-back svg {
    width: 40px;
    height: 40px;

    background-color: var(--authentication-back);
    border-radius: 50%;
    padding: 10px;
}

.authentication h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.authentication input {
    border-radius: var(--border-radius-default);
    margin-bottom: .5rem;
}

.authentication button[type="submit"] {
    border-radius: var(--border-radius-default);
    width: 100%;
}

.authentication #signin-choose .d-flex div {
    margin-bottom: .5rem;
}

.authentication #signin-choose .d-flex div a {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: var(--text-color);
    background-color: var(--body-color);
    border: .1rem solid var(--signin-choose-background-color);

    border-radius: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.authentication #signin-choose .d-flex div button {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    color: var(--text-color);
    background-color: var(--body-color);
    border: .1rem solid var(--signin-choose-background-color);

    border-radius: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.authentication #signin-choose .d-flex div#signin-choose-yandex button svg {
    width: 125px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.authentication #signin-choose .d-flex div#signin-choose-vk button svg {
    width: 200px;
    height: 36px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.authentication #signin-choose .d-flex div#signin-choose-mailru button svg {
    width: 200px;
    height: 36px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.authentication #signin-choose .d-flex div#signin-choose-google button svg {
    width: 32px;
}

.authentication #signin-choose .d-flex div#signin-choose-github button svg {
    width: 32px;
    height: 32px;
}

.authentication #signin-email .buttons {
    margin-top: 1rem;
}


.authentication #signin-email .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: .25rem;
    border-radius: 8px;
}

.authentication #signin-email .buttons button svg {
    margin-right: .25rem;
}

.authentication #signin-choose .d-flex div#signin-choose-email button svg {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.authentication #signin-choose .d-flex div button:is(:focus, :focus-visible, :focus-within) {
    background-color: var(--signin-choose-background-color-hover);
}

.authentication #signin-choose .signin-choose-or-background {
    border-bottom: 2px dashed var(--signin-choose-or-border-bottom);
    margin-top: 20px;
    margin-bottom: 16px !important;
}

.authentication #signin-choose .signin-choose-or {
    margin-top: -37px;
    margin-bottom: 16px !important;
    text-align: center;
}

.authentication #signin-choose .signin-choose-or-white {
    display: flex;
    justify-content: center;
    text-align: center;
}

.authentication #signin-choose .signin-choose-or-white span {
    background-color: var(--body-color) !important;
    margin-top: -22px;
    width: 50px !important;
    height: 20px !important;
}

.authentication #signin-choose .signin-choose-or span {
    background: var(--body-color);
}

@media(hover: hover) {
    .authentication #signin-choose .d-flex div button:hover {
        background-color: var(--signin-choose-background-color-hover);
    }
}
