form.authentication h1 {
    text-align: center;
    margin-bottom: 1rem;
}

form.authentication input {
    border-radius: var(--border-radius-default);
    margin-bottom: .5rem;
}

form.authentication button[type="submit"] {
    border-radius: var(--border-radius-default);
}
