header {
    background-color: var(--header-background-color);
}

header.header {
    border-bottom: 1px solid var(--header-border-bottom);
    padding: 1rem;
    margin-bottom: 1rem;
}

header .header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header .header-content-logo {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;
    text-decoration: none;
    margin-bottom: 0;
}

header .header-content-logo svg {
    width: 200px;
    fill: var(--svg-icon);
}

header .header-content-links {
    justify-content: center;
}

header .header-content-profile {
    display: flex;
    text-decoration: none;
    align-items: center;
}

header .header-content-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

header .header-content-profile p {
    color: var(--text-color);
    margin-bottom: 0;
    margin-left: .5rem;
}

header .header-content-links li a {
    padding-left: .5rem;
    padding-right: .5rem;
    color: var(--text-color);
}

header .header-content button.navbar-toggler {
    margin-left: 1rem;
}

header .header-content-profile {
    justify-content: center;
}

@media(hover: hover) {
    header a.header-content-profile:is(:hover, :focus) p {
        color: var(--text-color-hover);
    }

    header .header-content-links li a:is(:hover, :focus) {
        color: var(--text-color-hover);
    }
}

@media(max-width: 991px) {
    .header-content-links {
        margin-top: 1rem;
    }

    .header-content-profile {
        margin-top: 1rem;
    }
}
