table tr td, th {
    color: var(--text) !important;
}

table.table-hover tbody tr:hover {
    background-color: var(--header-border) !important;
    --bs-table-accent-bg: transparent !important;
}

table {
    border-color: var(--header-border) !important;
    margin-bottom: 1rem;
}

table thead {
    border-color: var(--table-thead) !important;
}
