form input[type="password"],
form input[type="email"],
form input[type="text"],
form input[type="number"],
form input[type="search"],
form textarea {
    background: var(--color-body-plane);
    color: var(--text) !important;
    border: .1rem solid var(--header-border) !important;
}

input.input-style {
    background: var(--color-body-plane) !important;
    color: var(--text) !important;
    border: .1rem solid var(--header-border) !important;
}

form input.form-check-input {
    border: .1rem solid var(--header-border);
}

form textarea {
    background: var(--body);
    border: .1rem solid var(--header-border);
}

form .input-password .form-floating {
    width: 100%;
}

form .input-password a.input-group-text {
    position: absolute;
    display: block !important;
    z-index: 1000;

    border: none !important;
    background: transparent !important;

    margin-left: 82% !important;
    margin-top: 10px;
}

/* media */

@media(hover: hover) {
    form .input-password a.input-group-text:hover {
        stroke: var(--text-link-hover);
        cursor: pointer;
    }
}

@media(hover: none) {
    form .input-password a.input-group-text:active {
        stroke: var(--text-link-hover);
        cursor: pointer;
    }
}
