h2.title-anchor,
h3.title-anchor,
h4.title-anchor,
h5.title-anchor,
h6.title-anchor
{
    margin-left: -2rem;
}

h2.title-anchor a,
h3.title-anchor a,
h4.title-anchor a,
h5.title-anchor a,
h6.title-anchor a
{
    opacity: 0;
    margin-right: .5rem;

    transition: .3s;
}

h2.title-anchor a:is(:focus, :focus-visible, :focus-within),
h3.title-anchor a:is(:focus, :focus-visible, :focus-within),
h4.title-anchor a:is(:focus, :focus-visible, :focus-within),
h5.title-anchor a:is(:focus, :focus-visible, :focus-within),
h6.title-anchor a:is(:focus, :focus-visible, :focus-within) {
    opacity: 1;
}

@media(hover: hover) {
    h2.title-anchor a:hover,
    h3.title-anchor a:hover,
    h4.title-anchor a:hover,
    h5.title-anchor a:hover,
    h6.title-anchor a:hover {
        opacity: 1;
    }

    h2.title-anchor:hover a,
    h3.title-anchor:hover a,
    h4.title-anchor:hover a,
    h5.title-anchor:hover a,
    h6.title-anchor:hover a {
        opacity: 1;
    }
}
