:root {
    --color-body-plane: #ffffff;
    --color-body-plane-2: #d6dae0;
    --color-body-plane-3: #efefef;
    --color-body-plane-4: #a5a5a5;

    --body: #F9F6FF;
    --text: #585181;
    --text-invert: #ffffff;
    --text-link-underline: #cbc3ff;
    --shadow: #dad5fb;
    --shadow-hover: #c0bbe3;

    --header: rgba(255, 255, 255, .84);
    --header-border: #e6e2ff;

    --page-main-button-shadow: #61589a;
    --page-main-accent: #9A8FDD;
    --page-main-list-item-1: #b5a6ff;
    --page-main-list-item-2: #9ff18e;
    --page-main-list-item-3: #81b0ff;
    --page-main-darklight-icon: #f1c40f;
}
