:root {
    --color-body-plane: #ffffff;
    --color-body-plane-2: #d6dae0;
    --color-body-plane-3: #efefef;
    --color-body-plane-4: #a5a5a5;

    --body: #f4f9ff;
    --text: #283340;
    --text-invert: #ffffff;
    --text-link-underline: #b7bfc9;
    --shadow: #dee7e7;
    --shadow-hover: #d8e2ed;

    --header: rgba(255, 255, 255, .84);
    --header-border: #e1ebf7;

    --page-main-button-shadow: #056b80;
    --page-main-accent: #00B4D8;
    --page-main-list-item-1: #00B4D8;
    --page-main-list-item-2: #00d875;
    --page-main-list-item-3: #d8cc00;
    --page-main-darklight-icon: #f1c40f;
}
