:root {
    /* User Profile */

    --color-body-plane-accent-text: #fff;
    --color-body-plane-text: #000;

    --user-qrcode-button-bg: #7765dd;
    --user-qrcode-button-bg-hover: #6352c1;

    /* User Add Post */

    --addpost-moderate-bg: #edeef2;
    --addpost-import-bg: #dbd4ff;
    --addpost-import-bg-55: #dbd4ff55;
    --addpost-button-link-bg: #e2e8ec;
    --addpost-dialog-bg: #fff;

    --trix-button-accent: #4e96ff;

}
