.offcanvas-bottom {
    height: 80vh !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    background-color: var(--offcanvas-bg) !important;
}

.offcanvas-bottom button.btn-close {
    filter: var(--collapse-filter) !important;
}

/* User */

.user-offcanvas {
    background-color: #000;
}
