.cookie-accept {
    position: fixed;
    bottom: 20px;
    left: 18px;

    z-index: 300;

    margin: 0px;
    right: unset;
    min-width: 342px;
    max-width: 342px;

    border-radius: 12px;
    background-color: var(--color-body-plane);
    border: .1rem solid var(--header-border);
    box-shadow: 0 0.125rem 0.25rem var(--cookie-accept-shadow) !important;
}

.cookie-accept .cookie-accept-container {
    padding: 1rem;
}

.cookie-accept .cookie-accept-container div {
    margin-bottom: 1rem;
}

.cookie-accept .cookie-accept-container button {
    width: 100%;
    border-radius: 12px;

    padding-top: .5rem;
    padding-bottom: .5rem;

    color: #ffffff;
    background-color: var(--accent);
    border-color: var(--accent);
}

.cookie-accept .cookie-accept-container button:is(:focus, :focus-visible, :focus-within) {
    background-color: var(--accent-2);
    border-color: var(--accent-2);
}

@media(hover: hover) {
    .cookie-accept .cookie-accept-container button:hover {
        background-color: var(--accent-2);
        border-color: var(--accent-2);
    }
}

@media(hover: none) {
    .cookie-accept .cookie-accept-container button:active {
        background-color: var(--accent-2);
        border-color: var(--accent-2);
    }
}
