.post-show-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    max-width: fit-content;
    justify-content: center;
    gap: 1.5rem;

    padding: .6rem 1.2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--color-body-plane);
    box-shadow: 0 0 .25rem var(--shadow) !important;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.post-show-bottom button {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}

.post-show-bottom svg {
    height: 28px !important;
    width: 28px !important;
}

.post-show-bottom button svg {
    stroke: var(--text) !important;
}

.post-show-bottom .post-show-bottom__like svg.heart-fill {
    fill: var(--user-bar-exit) !important;
}

@media(max-width: 767.98px) {
    .post-show-bottom {
        margin-bottom: 4rem;
    }

    .post-show-bottom svg {
        width: 20px !important;
        height: 20px !important;
    }
}

@media(hover: hover) {
    .post-show-bottom .post-show-bottom__like:hover svg.heart-stroke {
        stroke: var(--user-bar-exit) !important;
    }

    .post-show-bottom button:hover svg {
        stroke: var(--text-link-hover) !important;
    }
}

@media(hover: none) {
    .post-show-bottom .post-show-bottom__like:active svg.heart-stroke {
        stroke: var(--user-bar-exit) !important;
    }

    .post-show-bottom button:active svg {
        stroke: var(--text-link-hover) !important;
    }
}
