footer {
    border-top: .1rem solid var(--footer-border-top);
    background: var(--footer-background-color);
}

footer p {
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
}

footer div.container {
    display: flex;
    align-items: center;
}
