.posts .row .col-text {
    padding-bottom: 16px;
    max-width: 600px;
    height: 322px;
    transition: .15s !important;
}

.posts .row .col-text a.card-overflow {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 100;
    text-decoration: none;
    text-shadow: none !important;
    box-shadow: none !important;
    padding-top: .5rem;
    padding-left: .5rem;
    height: auto !important;
    background: transparent !important;
    border-radius: 0px !important;
    transition: .3s !important;
}

.posts .row .col-text a .post {
    display: flex;
    margin-top: auto;
    flex-direction: column;
}

.posts .row .col-text a .post p {
    margin-bottom: 0;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: ResistSans;
    font-size: 1.5rem;
    margin-bottom: .25rem;
    line-height: 110%;

    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts .row .col-text a {
    height: 100%;
    background-color: var(--color-body-plane) !important;
    border: none !important;
    /* border-color: var(--color-body-plane-2) !important; */
    box-shadow: 0 0 .25rem var(--shadow);
    border-radius: 12px;
    padding: 1rem;
    text-decoration: none !important;
    transition: .3s;
}

@media(max-width: 767.98px) {
    .posts .row .col-text {
        height: auto !important;
        min-height: 322px;
    }
}

@media(hover: hover) {
    .posts .row .col-text:hover a {
        box-shadow: 0 20px 40px 0 var(--shadow-hover);
        border-color: var(--text-link-hover) !important;
    }
}

@media(hover: none) {
    .posts .row .col-text:active a {
        border-color: var(--text-link-hover) !important;
    }
}
