:root {
    --accent: #575FCF;

    --header-background-color: #17152b;
    --header-border-bottom: #433e6d;
    --header-link-download-background: #262342;
    --header-link-download-background-border: #433e6d;
    --header-link-download-background-hover: #433e6d;

    --footer-background-color: #17152b;
    --footer-border-top: #433e6d;

    --svg-icon: #fff;
    --svg-github: #fff;

    --body-color: #17152b;
    --text-color: #fff;
    --text-code: #fff;

    --text-code-border: #0984e3;
    --text-color-hover: #0984e3;
    --text-color-link-underline: #5c569d;

    --signin-choose-background-color: #34305e;
    --signin-choose-background-color-hover: #48437b;

    --signin-choose-or-border-bottom: #2f2c52;
    --signin-choose-or-text-color: #909091;

    --authentication-back: #262443;

    --list-marker-color: #615f74;

    --blog-text-on-dark: #212529;
    --blog-dark-post: #d3cfff;
    --blog-white-post: #1c1935;

    --pagination-active: #fff;
    --form-input-border: #34305e;

    --main-dark-block: #D980FA;
    --main-button-register: #27ae60;
    --main-button-register-hover: #259354;

    --user-bar: #1f1d3a;
    --user-bar-exit: #dd303f;

    --user-nav-link-active: #0984e3;
    --user-nav-background: #17152c;
    --user-nav-border: #232140;

    --user-profile-image-background: #221f40;
    --user-profile-image-background-image: #221f40;
    --user-profile-image-border: #302d57;
    --user-profile-button: #221f40;
    --user-profile-button-text: #fff;

    --user-search-border: #35315c;
    --user-search-button-background: #726bc0;

    --faq-design-button: #123;

    --user-alert-text-warning: #ca8726;
    --user-alert-border: #343b42;
}
