:root {
    --header-background-color: #fff;
    --footer-background-color: #fff;
    --header-border-bottom: #dee2e6;
    --footer-border-top: #dee2e6;
    --svg-icon: #000;
    --body-color: #f9f9f9;
    --text-color: #212529;
    --text-color-hover: #0984e3;
    --text-color-link-underline: #a8a8a8;

    --signin-choose-background-color: #d9d9d9;
    --signin-choose-background-color-hover: #f6f6f6;

    --signin-choose-or-border-bottom: #e2e2e2;

    --authentication-back: #f5f5f5;

    --list-marker-color: #bababa;

    --blog-text-on-dark: #fff;
    --blog-dark-post: #212529;
    --blog-white-post: #fff;

    --pagination-active: #000;
    --form-input-border: #ced4db;

    --main-dark-block: #6e8297;
    --main-button-register: #27ae60;
    --main-button-register-hover: #259354;

    --user-bar: #e9e9eb;
}
