:root {
    --header-background-color: #fff;
    --footer-background-color: #fff;
    --header-border-bottom: #dee2e6;
    --footer-border-top: #dee2e6;
    --svg-icon: #000;
    --body-color: #f9f9f9;
    --text-color: #212529;
    --text-color-hover: #0984e3;
    --text-color-link-underline: #a8a8a8;

    --signin-choose-background-color: #d9d9d9;
    --signin-choose-background-color-hover: #f6f6f6;

    --signin-choose-or-border-bottom: #e2e2e2;

    --authentication-back: #f5f5f5;

    --list-marker-color: #bababa;
}
