.theme-toggle {
    background: var(--body);
    border: 1px solid var(--header-border);
    border-radius: 100px;
    padding: 3px;
    padding-top: 1.5px !important;
}

.theme-toggle .btn-secondary {
    --bs-btn-border-radius: 50px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: var(--text) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.theme-toggle p {
    padding: 0;
    margin: 0;
}

.theme-toggle label {
    padding: 0;
    margin: 0;
    border-radius: 50px;
}

.theme-toggle .btn-secondary {
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--text-color-2) !important;
    background: transparent;
    border: 0;
}

.theme-toggle .btn-secondary:hover {
    color: var(--text) !important;
    background: transparent;
    border: 0;
}

.btn-check:checked+.btn-secondary,
.theme-toggle .btn-secondary.active,
.theme-toggle .btn-secondary.show,
.theme-toggle .btn-secondary:first-child:active,
:not(.btn-check)+.theme-toggle .btn-secondary:active {
    color: var(--text) !important;
    background: var(--page-main-accent) !important;
    border: 0;
}
